@page "/"

<PageTitle>Workflowy Converter</PageTitle>

@if (_text is null)
{
    <InputFile id="fileInput" OnChange="UploadFilesAsync" hidden />

    <MudButton HtmlTag="label"
           Variant="Variant.Filled"
           Color="Color.Primary"
           StartIcon="@Icons.Filled.CloudUpload"
           for="fileInput">
        Upload Files
    </MudButton>
}
else
{
    <MudGrid Spacing="10" Justify="Justify.Center">
        <MudItem xs="6">
            <p>@_text</p>
        </MudItem>
        <MudItem xs="6">
            <p>@_text</p>
        </MudItem>
    </MudGrid>
}

@code
{
    private string? _text;

    private async Task UploadFilesAsync(InputFileChangeEventArgs e)
    {
        var stream = e.File.OpenReadStream();
        var rootNode = await WorkflowyNode.ReadFromAsync(stream);

        _text = rootNode.Todo;
    }
}